/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222;
    color: white;
    text-align: center;
}

/* Sección de encabezado */
.header {
    position: relative;
    padding-top: 40px;
    margin-bottom: 50px;
}

h1 {
    font-size: 36px;
    margin-top: 80px;
}

.description {
    font-size: 18px;
    margin-top: 10px;
    color: red;
}

/* Sección de opciones */
.options {
    margin-top: 30px;
}

.option {
    background-color: black;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 20px 0;
    padding: 20px;
    border: 3px solid #1de9b6; /* Borde verde claro */
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0px 0px 10px rgba(255, 0, 0, 0); /* Sombra inicial */
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    transition: transform 0.3s ease-in-out;
    animation: colorCycle 15s infinite; /* Animación infinita de 15 segundos */
}

.option p {
    margin: 5px 0;
    font-size: 18px;
}

/* Estilos del contador con animación de sombra blanca */
.timer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    border-radius: 15px; /* Bordes redondeados */
    padding: 20px;
    background-color: #333;
    animation: whiteShadowBlink 1.5s infinite; /* Animación infinita de parpadeo */
}

/* Animación para sombra blanca parpadeante */
@keyframes whiteShadowBlink {
    0%, 50% {
        box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.8); /* Sombra blanca intensa */
    }
    50.01%, 100% {
        box-shadow: none; /* Sin sombra */
    }
}

.time-section {
    margin: 0 15px;
}

.time-part {
    font-size: 48px;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px; /* Bordes redondeados */
}

/* Efecto hover en las opciones */
.option:hover {
    transform: scale(1.05); /* Agrandamiento al pasar el mouse */
}

/* Botón */
.button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
    display: inline-block;
    margin-top: 10px;
}

.button:hover {
    background-color: #0056b3;
}

/* Pie de página */
footer {
    margin-top: 50px;
    padding: 20px;
    background-color: #111;
    color: white;
    font-size: 14px;
}
